doctype 5
html
  head
    title Contact List
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/demo.css')
     
  body
    script#contact_template(type='text/template')
      .actions.toright
        a.edit
          i.icon-edit
        a.delete
          i.icon-trash
      .info
        .basic_info.span2
          img.photo(src!='<%- photo %>', alt='photo')
        .detailed_info.span5
          span.name.span4 <%- firstname %> <%- lastname %>
          span.phone.span4 <%- phone %>
          span.span4 Gender: <%- gender %>
          span.span4 Email: <%- email %>
          span.span4 Address: <%- address %>
          span.span4 Group: <%- groupname %>

    script#edit_template(type='text/template')
      form.upload_photo(action='/upload_photo', method='post', enctype='multipart/form-data')
        .span2
          img.photo(src!='<%- photo %>', alt='photo')
          label.radio.span2
            input(type='radio', value='male', name='gender', checked=true)
            | Male
          label.radio.span2
            input(type='radio', value='female', name='gender')
            | Female
        .span5
          input.upload_photo.hidden(type='file', name='photo')
          input.firstname.span2(type='text', name='firstname', placeholder='Firstname', value!='<%- firstname %>')
          input.lastname.span2(type='text', name='lastname', placeholder='Lastname', value!='<%- lastname %>')
          input.phone.span4(type='text', name='phone', placeholder='Phone', value!='<%- phone %>')
          input.email.span4(type='text', name='email', placeholder='Email', value!='<%- email %>')
          input.address.span4(type='text', name='address', placeholder='Address', value!='<%- address %>')
          input.group.span4(type='text', name='groupname', placeholder='Group', value!='<%- groupname %>')  

        .actions.to-right
          a.btn.span2.ok(href='#') OK
          a.btn.btn-inverse.span2.cancel(href='#') Cancel
      
    script#group_template(type='text/template')
      a.focus(href!='#group/<%- groupname %>')
        span <%- groupname %>
        span.right (<%- contactCount %>)
      i.delete.icon-trash

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') Group 6 - Tech Evaluation
    
    #contact-list-app.container
      .sidebar-nav.span3.group-sidenav
        ul.nav.nav-list.affix
          li.nav-header Groups

      .span8
        .contact_form
          a.show.btn.btn-primary.span7(href='#') Add A New Contact
          .form
        .contact_list
          ul
     
    script(type='text/javascript', src='/javascripts/libs/jquery-1.8.2.min.js')
    script(type='text/javascript', src='/javascripts/libs/jquery.qtip-1.0.0-rc3.min.js')

    script(type='text/javascript', src='/javascripts/libs/underscore.js')
    script(type='text/javascript', src='/javascripts/libs/backbone.js')
    script(type='text/javascript', src='/javascripts/libs/backbone-validation.js')
    script(type='text/javascript', src='/javascripts/libs/backbone-localstorage.js')
    script(type='text/javascript', src='/javascripts/models/contact.js')
    //script(type='text/javascript', src='/javascripts/collections/contacts.js')

    //script(type='text/javascript', src='/javascripts/models/group.js')
    //script(type='text/javascript', src='/javascripts/collections/groups.js')
    
    //script(type='text/javascript', src='/javascripts/views/add_view.js')
    //script(type='text/javascript', src='/javascripts/views/person_view.js')
    //script(type='text/javascript', src='/javascripts/views/group_view.js')
    //script(type='text/javascript', src='/javascripts/views/app_view.js')

    script(type='text/javascript', src='/javascripts/application.js')
