

body {
  position: relative;
  padding-top: 50px;
}

img.photo {
  width: 140px;
  height: 140px;

  float: left;
}

.to-right {
  float: right;
}

.group-sidenav {
  margin: 30px 0 0;
  padding: 0;
  
}

.group-sidenav > ul {
  top: 50px;
  position: fixed;
}

.group-sidenav > a {
  padding: 8px 15px;
  border: 1px solid #e5e5e5;
}

.contact_form {
  float: left;

  padding: 20px 10px 20px 10px;
  background-color: #e5e5e5;
}

.contact_form .show {
  margin: auto;
}

.contact_form input[type='text'] {
  margin: 12px;
  float: left;
}

.contact_form label {
  margin: 12px;
  float: left;
}

.contact_list ul {
  list-style: none;
}

.contact_list ul > li {
  float: left;
}